 body {
     background: url(https://www.guiasbenasque.com/images/programas_y_cursos/VeranoAlpesMontBlanc.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
 
 .header {
     background-color: rgb(229, 243, 167);
     height: 180px;
 }
 
 .logo {
     width: 220px;
     height: 200px;
     border-radius: 20px;
 }
 
 .text {
     font-size: 10px;
 }
 
 .caminos {
     margin-top: 30px;
 }
 
 .fondo1 {
     background-color: hsla(210, 9%, 37%, 0.7);
 }
 
 .redes {
     height: 75px;
     width: 75px;
     border-radius: 10px;
 }
 
 .img1 {
     height: 400px;
     width: 100%;
     margin-bottom: 10px;
 }
 
 .img2 {
     height: 300px;
     width: 100%;
 }
 
 .img3 {
     height: 800px;
     width: 100%;
 }
 
 .img4,
 .img5,
 .img6 {
     height: 400px;
     width: 100%;
 }
 
 .colu2 {
     margin-left: 20px;
 }
 

 @media (max-width: 900px) {
     .caminos {
         color: white !important;
     }
     .logo {
         height: 150px;
         width: 150px;
     }
     .fondo1 {
         margin-top: -13% !important;
     }
 }